* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit';
    color: white;
}

.container1 {
    width: 100%;
    height: 110vh;
    background-color: black;

}



nav {
    padding-right: 120px;
    padding-top: 30px;
}

header img {
    width: 150px;

}

header {
    background: black;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

header .logo {
    font-size: 30px;
    text-transform: uppercase;
    padding-left: 120px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    display: inline-block;
    color: white;
    padding: 5px 0;
    margin: 0 22px;
    border: 3px solid transparent;
    /* text-transform: uppercase; */
    transition: 0.2s;
    text-decoration: none;
}

.hamburger {
    cursor: pointer;
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: white;
}

.edit1 {
    text-align: center;
    padding-top: 70px;

}

.edit1 img {
    width: 150px;
}

.edit2 {
    text-align: center;
    font-size: 65px;
    font-weight: 1000;
    color: #e9ff09;
    padding-top: 22px;

}

.trans {
    padding: 30px 120px 0 120px;
}

.swiper-container {
    width: 100%;
    height: 300px;
    /* Set a fixed height for the swiper container */
    overflow: hidden;
    /* Hide overflow to prevent vertical scrolling */
}

/* Swiper slide */
.swiper-slide {
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 0 20px;
}


.swiper-slide img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}


.edit3 {
    text-align: center;
    padding-top: 35px;
    color: #898989;

}

.cc {
    background-color: #e9ff09;
}

.edit4 {
    text-align: center;
    padding: 10px 40px;
    color: black;
    background-color: #e9ff09;
    text-align: center !important;
    font-size: 25px;
    font-weight: 900;
}

.button-class {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

/* container2 starts */

.container2 {
    width: 100%;
    height: 100vh;
    background-color: #e9ff09;
    position: relative;
}

.container2-element {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.first-element {
    color: #212529;
}

.second-element {
    color: #212529;
}

.third-element {
    color: #212529;
    width: 750px;
    text-align-last: center;
}

.four {
    color: #212529 !important;
}

.five {
    color: #212529 !important;
    font-size: 14px;
}

.hh {
    margin-left: 30px;
}

.container2-element2 {

    padding-left: 120px;
}


.tharun {
    position: absolute;
    bottom: 0;
}

.tharun-class {

    display: flex;
    justify-content: center;
}

.tharun img {
    /* position: absolute; */
    width: 450px;

    text-align: center;
}

.container2-element3 {
    position: absolute;
    bottom: 160px;
    right: 120px;
}

.six {
    font-size: 35px;
    padding-left: 10px;

}

/* container2 ends */


/* container3 starts */

.container3 {
    width: 100%;
    height: 140vh;
    background-color: black;
}

.learn {
    text-align: center;
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container3-element {
    padding: 0 120px 0 120px;
}

#text1 {
    padding-top: 220px;
}

#text2 {
    padding-top: 180px;
}

#text3 {
    padding-top: 110px;
}

#text5 {
    padding-top: 190px;
}

#text6 {
    padding-top: 210px;
}

#text7 {
    padding-top: 315px;
}

#text8 {
    padding-top: 380px;
}

#margincard1 {
    margin-top: -80px;
}

#margincard2 {
    margin-top: -30px;
}

#margincard3 {
    margin-top: -100px;
}

#margincard4 {
    margin-top: -175px;
}

/* container3 ends */


/* container4 starts */


.container4 {
    width: 100%;
    height: 140vh;
    background-color: black;
}

.container4-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container4-element img {
    width: 1280px;
}

.container4-element2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.letter3 {
    width: 970px;
    text-align: center;
}

/* container4 ends */


/* container5 starts */

.container5 {
    width: 100%;
    height: 120vh;
    background-color: black !important;
}

.container5-element ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container5-element ul>:first-child {
    font-size: 30px;
}

.container5-element ul>:nth-child(2) {
    font-size: 60px;
}

.container5-element ul>:nth-child(3) {
    font-size: 40px;
}

.container5-element ul>:nth-child(4) {
    font-size: 20px;
}

.container5-element ul>:nth-child(5) {
    font-size: 20px;
}

.container5-element ul>:nth-child(6) {
    font-size: 20px;
}

.container5-element ul>:nth-child(7) {
    font-size: 20px;
}

.container5-element ul>:nth-child(8) {
    font-size: 20px;
}

.container5-element ul>:nth-child(9) {
    font-size: 20px;
}

.container5 ul li {
    color: white;
    list-style: none;
}

.container5-element {
    display: flex;
    padding: 0 120px 0 120px;
    gap: 150px;
}

.container5-element2 {
    color: black;
}

.container5-element3 {
    color: black;
    width: 300px;
    text-align: center;
}

.color {
    color: #e9ff09 !important;
}

.edit8 {


    padding: 10px 70px;
    color: black;
    background-color: #e9ff09;
    text-align: center !important;
    font-size: 25px;
    font-weight: 900;

}

/* container5 ends */


/* container6 starts */

.container6 {
    width: 100%;
    height: 240vh;
    background-color: black;
}

.container6-letter {
    text-align: center;
    font-size: 60px;
    padding-bottom: 40px;
}

.more {
    padding: 60px 0 30px 120px;
    font-size: 50px;
}

.black-color {
    color: black;
    padding: 10px 10px;
}

.placement {
    text-align: center;
    padding-top: 150px;
}

.placed {
    text-align: center;
    padding-top: 30px;
}


.influencer {
    /* display:flex; */
    padding: 50px 180px 0 180px;
    /* justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.influencer img {
    width: 180px;
}

.first {
    text-align: center;
}

.influencer2 {
    /* display:flex; */
    padding: 50px 350px 0 350px;
    /* justify-content:space-evenly; */
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.influencer2 img {
    width: 180px;

}

.line {
    width: 80%;
    height: 0.1vh;
    background-color: white;
    margin: 100px 120px 0 120px;
}

/* container6 ends */

/* container7 starts */

.container7 {
    width: 100%;
    height: 125vh;
    background-color: black;
}

.container7-text {
    padding: 0 120px 0 120px;
}

.text2 {
    font-size: 50px;
    font-weight: 900;
    padding-left: 20px;

}

.container7-full {
    display: flex;
    padding: 50px 150px 0 150px;
    gap: 250px;

}

.container7-fe {
    display: flex;
}

.fe2 {
    padding-left: 30px;

}

.fe3 {
    padding-left: 250px;
}

.full-line {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container7-se {
    width: 100%;
    height: 0.1vh;
    background-color: white;

}

.container7-text2 {
    text-align: center;
    font-size: 50px;

    padding: 100px 180px 50px 180px;
}

.line2 {
    width: 100%;
    height: 0.1vh;
    background-color: white;
    margin-top: 100px;
}

/* container7 ends */


/* container8 starts */

.container8 {
    width: 100%;
    height: 50vh;
    background-color: #212529;
    position: relative;
}

.container8-flex {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px 150px 0 150px;
    gap: 200px;
}

.container8-fe {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

/* container8 ends */



@media screen and (max-width:600px) {
    .container1 {
        width: 100%;
        height: 110vh;
        background-color: black;

    }

    .trans {
        padding: 0;
    }

    .hamburger {
        display: block;

    }

    header .logo {
        padding-left: 0;
    }

    header nav {
        position: absolute;
        /* width: 100%; */
        font-size: 15px;
        left: -100%;
        top: 50px;
        width: 100%;
        background: black;
        padding: 20px;
        transition: 0.3s;
    }

    header #nav_check:checked~nav {
        left: 0;
    }

    header nav ul {
        display: block;
    }

    header nav ul li a {
        margin: 1px 0;
    }

    nav {
        padding-right: 0;
    }

    .edit1 {
        text-align: center;
        padding-top: 35px;

    }

    .edit1 img {
        width: 150px;
    }

    .edit2 {
        text-align: center;
        font-size: 35px;
        font-weight: 1000;
        color: #e9ff09;
        padding-top: 22px;

    }

    .edit3 {
        text-align: center;
        padding: 5px 15px 0 15px;
        color: #898989;
        font-size: 20px;
    }

    .cc {
        background-color: #e9ff09;
    }

    .edit4 {
        text-align: center;
        padding: 10px 40px;
        color: black;
        background-color: #e9ff09;
        text-align: center !important;
        font-size: 25px;
        font-weight: 900;
    }

    .button-class {

        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }


    /* container2 starts */

    .container2 {
        width: 100%;
        height: 100vh;
        background-color: #e9ff09;
        position: relative;
    }

    .container2-element {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 20px;
    }


    .first-element {
        color: #212529;
    }

    .second-element {
        color: #212529;
        text-align: center;
        width: 280px;
    }

    .third-element {
        color: #212529;
        width: 300px;
        text-align-last: center;
    }

    .four {
        color: #212529 !important;
    }

    .five {
        color: #212529 !important;
        font-size: 14px;
    }

    .hh {
        margin-left: 30px;
    }

    .container2-element2 {
        visibility: hidden;
        padding-left: 120px;
    }


    .tharun {
        position: absolute;
        bottom: 0;
    }

    .tharun-class {

        display: flex;
        justify-content: center;
    }

    .tharun img {
        /* position: absolute; */
        width: 300px;

        text-align: center;
    }

    .container2-element3 {
        visibility: hidden;
        position: absolute;
        bottom: 160px;
        right: 120px;
    }

    .six {
        font-size: 35px;
        padding-left: 10px;

    }

    /* container2 ends */


    /* container3 starts */

    .container3 {
        width: 100%;
        height: 290vh;
        background-color: black;
    }

    .learn {
        text-align: center;
        padding: 0 20px 0 20px;
        font-size: 35px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .container3-element {
        padding: 0 20px;
        margin: 0 0 50px 0;

    }

    #youtube {
        margin-top: -60px;
    }

    .card img {
        height: 200px;
        background-size: cover;
        background-position: center;

    }

    #text1,
    #text2,
    #text3,
    #text4 {
        padding-top: 60px;
    }

    #text4 {
        padding-top: 40px;
    }

    #text5,
    #text6,
    #text7,
    #text8 {
        padding-top: 60px;
    }


    #margincard1 {
        margin-top: 0;
    }

    #margincard2 {
        margin-top: 0;
    }

    #margincard3 {
        margin-top: 0;
    }

    #margincard4 {
        margin-top: 0;
    }

    /* container3 ends  */


    /* container4 starts */


    .container4 {
        width: 100%;
        height: 100vh;
        background-color: black;
    }

    .container4-element {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .container4-element img {
        width: 330px;
    }

    .container4-element2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 50px;
    }

    .letter3 {
        width: 340px;
        text-align: center;
    }

    /* container4 ends */

    /* container5 starts */

    .container5 {
        width: 100%;
        height: 300vh;
        background-color: black !important;
    }

    .container5-element ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border: 1px solid white;
        padding: 30px;
    }

    .container5-element ul>:first-child {
        font-size: 30px;
    }

    .container5-element ul>:nth-child(2) {
        font-size: 60px;
    }

    .container5-element ul>:nth-child(3) {
        font-size: 40px;
    }

    .container5-element ul>:nth-child(4) {
        font-size: 20px;
    }

    .container5-element ul>:nth-child(5) {
        font-size: 20px;
    }

    .container5-element ul>:nth-child(6) {
        font-size: 20px;
    }

    .container5-element ul>:nth-child(7) {
        font-size: 20px;
    }

    .container5-element ul>:nth-child(8) {
        font-size: 20px;
    }

    .container5-element ul>:nth-child(9) {
        font-size: 20px;
    }

    .container5 ul li {
        color: white;
        list-style: none;
    }

    .container5-element {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;
        width: 350px;
    }

    .container5-element2 {
        color: black;
        width: 350px;
    }

    .container5-element3 {
        color: black;
        width: 350px;
        text-align: center;
    }

    .color {
        color: #e9ff09 !important;
    }

    .edit8 {


        padding: 10px 70px;
        color: black;
        background-color: #e9ff09;
        text-align: center !important;
        font-size: 25px;
        font-weight: 900;

    }

    /* container5 ends */


    /* container6 starts */

    .container6 {
        width: 100%;
        height: 230vh;
        background-color: black;
    }

    .akash {
        font-size: 18px;
        font-weight: 500;

    }

    .container6-letter {
        text-align: center;
        font-size: 36px;
        padding-bottom: 40px;
    }

    .more {
        padding: 0;
        font-size: 30px;
        padding-left: 20px;
    }

    .black-color {
        color: black;
        padding: 10px 10px;
    }

    .placement {
        text-align: center;
        padding-top: 150px;
    }

    .placed {
        text-align: center;
        padding: 30px 20px;
        font-size: 25px;

    }


    .influencer {
        /* display:flex; */
        padding: 20px;
        /* justify-content: space-between; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

    }

    .influencer img {
        width: 130px;
    }

    .influencer2 {
        /* display:flex; */
        padding: 20px;
        /* justify-content:space-evenly; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

    }

    .influencer2 img {
        width: 130px;

    }

    .line {
        width: 100%;
        height: 0.1vh;
        background-color: white;
        margin: 50px 0 0 0;
    }

    /* container6 ends */

    /* container7 starts */

    .container7 {
        width: 100%;
        height: 145.5vh;
        background-color: black;
    }

    .container7-text {
        padding: 10px 10px 30px 10px;
    }

    .text2 {
        font-size: 30px;
        font-weight: 900;
        padding-left: 20px;

    }

    .container7-full {
        display: flex;
        flex-direction: column;
        padding: 0;

        gap: 20px;

    }

    .container7-fe {
        display: flex;
    }

    .fe2 {
        padding-left: 30px;
    }

    .fe3 {
        padding-left: 130px;
    }

    .full-line {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container7-se {
        width: 100%;
        height: 0.1vh;
        background-color: white;

    }

    .container7-text2 {
        text-align: center;
        font-size: 30px;

        padding: 50px 10px 0 10px;
    }

    .line2 {
        width: 100%;
        height: 0.1vh;
        background-color: white;
        margin-top: 100px;
    }


    .hello {
        padding-top: 20px;
    }

    /* container7 ends */


    /* container8 starts */

    .container8 {
        width: 100%;
        height: 95vh;
        background-color: #212529;
        position: relative;
    }

    .container8-flex {
        /* display: flex; */
        display: grid;
        grid-template-columns: 1fr;
        padding: 40px 20px;
        gap: 30px;
    }

    .container8-fe {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    /* container8 ends */
}